.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    
}
.sub-container{
    padding: 20px;
    border-radius: 5px;
    width: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aquamarine;
}